<div class="container mx-auto mt-5">
  <form action="answer" data-turbo="false" class = "d-flex justify-content-center">
    <input type="text" name="question" class="form-control me-3 w-50" placeholder ="Ask your question">
    <input type="submit" value="Ask !!!" class = "btn btn-primary" style = "width: 100px"> </form>
</div>
